CLIMATECLAW_VERSION="0.1.0" # The version of the backend

CLIMATECLAW_HOST="0.0.0.0"
CLIMATECLAW_BACKEND_PORT=8502 # The port on which the backend will run, transparent to the outside
CLIMATECLAW_TARGET_PORT=8502 # The port on which the backend will be accessible from the outside; change this if you want to run multiple instances on the same server
CLIMATECLAW_DEBUG_PORT=5678 # When debug-mode is on app.py is run via debugpy. See ./dev.sh on how to activate DEBUG mode

CLIMATECLAW_INSTANCE_NAME="dev" # The name of the instance, used to differentiate between multiple instances on the same server/filesystem
CLIMATECLAW_PROJECT_NAME="nextgems" # Required by prod.sh; deployment project name used to get preview directory of the project

CLIMATECLAW_CACHE_PATH=/scratch/b/b380001/climateclaw/cache  # The path where the output of code (if saved by the bot) will be stored.

CLIMATECLAW_OPENAI_API_KEY="YOUR_OPENAI_API_KEY" # The OpenAI API key to use for the OpenAI API
CLIMATECLAW_LITE_LLM_ADDRESS="http://litellm:4000" # The address of the LiteLLM Proxy
CLIMATECLAW_OLLAMA_KEEP_ALIVE=-1  # Keep Ollama models loaded after use. -1 = indefinitely, subject to available GPU/RAM.


# MCP SETTINGS
CLIMATECLAW_CODE_SERVER_PORT=8051
CLIMATECLAW_RAG_SERVER_PORT=8050
CLIMATECLAW_WEB_SEARCH_SERVER_PORT=8052

CLIMATECLAW_AVAILABLE_MCP_SERVERS=rag-server,code-server,web-search-server  # The list of servers to connect via backends client
CLIMATECLAW_RAG_SERVER_URL="http://rag-server:8050"  # IMPORTANT: Server URLs must be given as 'CLIMATECLAW_{server_name}_SERVER_URL' for successful parsing
CLIMATECLAW_CODE_SERVER_URL="http://code-server:8051"
CLIMATECLAW_WEB_SEARCH_SERVER_URL="http://web-search-server:8052"
CLIMATECLAW_MCP_REQUEST_TIMEOUT_SEC=600

# MONGODB SETTINGS
CLIMATECLAW_MONGODB_DATABASE_NAME="chatbot" # The name of the MongoDB database to use for the storage of threads
CLIMATECLAW_MONGODB_COLLECTION_NAME="threads" # The name of the MongoDB collection to use for the storage of threads
CLIMATECLAW_MONGODB_USER="yourusername"
CLIMATECLAW_MONGODB_PASSWORD="yourpassword"

# PROXY SETTINGS
CLIMATECLAW_BACKEND_REPLICAS=1
CLIMATECLAW_CODE_SERVER_REPLICAS=1
CLIMATECLAW_WEB_SEARCH_SERVER_REPLICAS=1
CLIMATECLAW_LITELLM_REPLICAS=1
CLIMATECLAW_OLLAMA_REPLICAS=1
